body {
  line-height: 32px;
  background-color: #edefef;
}
.titleAboutUs {
  margin-bottom: 3%;
  margin-left: 42%;
  margin-top: 3%;
}
.textAbout {
  font-size: 28px;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 14%;
  max-width: 70%;
  max-height: 30%;
}
.imageAbout {
  width: 15%;
  height: 15%;
  margin-left: 40%;
}